In [1]:
import numpy as np

In [2]:
age=np.random.randint(20,50,10)

In [3]:
age

array([41, 49, 47, 44, 36, 22, 36, 36, 28, 25])

In [6]:
np.mean(age)

36.4

In [7]:
import seaborn as sns

In [8]:
tips=sns.load_dataset('tips')

In [9]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [10]:
tips['total_bill'].mean()

19.78594262295082

In [11]:
np.median(age)

36.0

In [13]:
age[len(age)-1]=100

In [14]:
age.mean()

43.9

In [16]:
np.median(age)

38.5

In [17]:
age

array([ 41,  49,  47,  44,  36,  22,  36,  36,  28, 100])

In [18]:
from scipy import stats

In [19]:
stats.mode(age)

ModeResult(mode=36, count=3)

In [20]:
np.median(tips['total_bill'])

17.795