In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [23]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
encoder=LabelEncoder()

In [24]:
df['sex_enc']=encoder.fit_transform(df['sex'])

In [25]:
df['smoker_enc']=encoder.fit_transform(df['smoker'])

In [26]:
df['day_enc']=encoder.fit_transform(df['day'])

In [17]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,sex_enc,smoker_enc,day_enc
0,16.99,1.01,Female,No,Sun,Dinner,2,0,0,2
1,10.34,1.66,Male,No,Sun,Dinner,3,1,0,2
2,21.01,3.50,Male,No,Sun,Dinner,3,1,0,2
3,23.68,3.31,Male,No,Sun,Dinner,2,1,0,2
4,24.59,3.61,Female,No,Sun,Dinner,4,0,0,2

In [20]:
df['day_enc'].unique()

array([2, 1, 3, 0])

In [27]:
df.drop(['sex','smoker','day'],axis=1,inplace=True)

In [32]:
df.head()

   total_bill   tip    time  size  sex_enc  smoker_enc  day_enc  time_enc
0       16.99  1.01  Dinner     2        0           0        2         0
1       10.34  1.66  Dinner     3        1           0        2         0
2       21.01  3.50  Dinner     3        1           0        2         0
3       23.68  3.31  Dinner     2        1           0        2         0
4       24.59  3.61  Dinner     4        0           0        2         0

In [30]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [31]:
df['time_enc']=encoder.fit_transform(df['time'])

In [33]:
df.drop(['time'],axis=1,inplace=True)

In [34]:
df.head()

   total_bill   tip  size  sex_enc  smoker_enc  day_enc  time_enc
0       16.99  1.01     2        0           0        2         0
1       10.34  1.66     3        1           0        2         0
2       21.01  3.50     3        1           0        2         0
3       23.68  3.31     2        1           0        2         0
4       24.59  3.61     4        0           0        2         0

In [35]:
from sklearn.naive_bayes import GaussianNB

In [36]:
gcb=GaussianNB()

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X=df.iloc[:,:-1]

In [39]:
y=df.iloc[:,-1]

In [40]:
Xtr,Xte,ytr,yte=train_test_split(X,y)

In [41]:
gcb.fit(Xtr,ytr)

GaussianNB()

In [43]:
y_pred=gcb.predict(Xte)

In [44]:
from sklearn.metrics import accuracy_score as acs, confusion_matrix as cm, classification_report as cr

In [45]:
print(cm(y_pred,yte))

[[44  4]
 [ 0 13]]

In [46]:
acs(y_pred,yte)

0.9344262295081968