# Nominal / One Hot Encoding

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})

In [5]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [6]:
encoder=OneHotEncoder()

In [11]:
encoded=encoder.fit_transform(df[['color']])

In [14]:
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [15]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0